# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [
    (-0.08, 1900),
    (-0.27, 1920),
    (0.12, 1940),
    (-0.03, 1960),
    (0.26, 1980),
    (0.40, 2000),
    (1.02, 2020)
]

serie_temperatura = pd.Series([valor[0] for valor in dados], index=[ano[1] for ano in dados], name='Anomalia Térmica')

print(serie_temperatura)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Anomalia Térmica, dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [ ]:

# seu código aqui
serie_temperatura = pd.Series([valor[0] for valor in dados], index=[ano[1] for ano in dados], name='Anomalia Térmica')

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [8]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
import pandas as pd

serie_temperaturas = pd.Series(dic_temperaturas, name='Anomalia Térmica')

serie_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Anomalia Térmica, dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [3]:

# seu código aqui
import numpy as np
import pandas as pd

arr = np.random.normal(100, 10, (20, 3))

df = pd.DataFrame(arr, columns=['Coluna_1', 'Coluna_2', 'Coluna_3'])

df

      Coluna_1    Coluna_2    Coluna_3
0    94.105485   99.047789  115.923921
1   111.235901   91.241885   97.022850
2   118.075671  106.100174   86.090933
3   101.770084  117.276412  100.914973
4    98.551880  100.842679  117.823086
5    96.612971  107.927626  106.810013
6   123.500309  109.395433   87.132050
7    96.520049   88.973371  108.773134
8   111.238036  100.562149   81.415085
9    97.789147   98.708195  102.484974
10  102.632262  107.325524  108.031845
11  109.627459  100.284430   90.233373
12   97.980220   97.751059   88.415514
13   78.732019   91.363492   94.507002
14   89.222007  111.196722  102.011375
15   92.230694  100.368486   97.804678
16  110.962628  109.010575  110.506549
17   94.080029  103.858806   94.933282
18  109.042904  105.230053   87.422120
19   87.333227   99.484619   94.792545

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [6]:
#seu código aqui
df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])

df.index = np.arange(1, 21)

print(df)

            x1          x2          x3
1    94.105485   99.047789  115.923921
2   111.235901   91.241885   97.022850
3   118.075671  106.100174   86.090933
4   101.770084  117.276412  100.914973
5    98.551880  100.842679  117.823086
6    96.612971  107.927626  106.810013
7   123.500309  109.395433   87.132050
8    96.520049   88.973371  108.773134
9   111.238036  100.562149   81.415085
10   97.789147   98.708195  102.484974
11  102.632262  107.325524  108.031845
12  109.627459  100.284430   90.233373
13   97.980220   97.751059   88.415514
14   78.732019   91.363492   94.507002
15   89.222007  111.196722  102.011375
16   92.230694  100.368486   97.804678
17  110.962628  109.010575  110.506549
18   94.080029  103.858806   94.933282
19  109.042904  105.230053   87.422120
20   87.333227   99.484619   94.792545

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [7]:
# seu código aqui
df['average'] = df.mean(axis=1)

df

            x1          x2          x3     average
1    94.105485   99.047789  115.923921  103.025732
2   111.235901   91.241885   97.022850   99.833545
3   118.075671  106.100174   86.090933  103.422259
4   101.770084  117.276412  100.914973  106.653823
5    98.551880  100.842679  117.823086  105.739215
6    96.612971  107.927626  106.810013  103.783537
7   123.500309  109.395433   87.132050  106.675930
8    96.520049   88.973371  108.773134   98.088851
9   111.238036  100.562149   81.415085   97.738423
10   97.789147   98.708195  102.484974   99.660772
11  102.632262  107.325524  108.031845  105.996544
12  109.627459  100.284430   90.233373  100.048421
13   97.980220   97.751059   88.415514   94.715598
14   78.732019   91.363492   94.507002   88.200838
15   89.222007  111.196722  102.011375  100.810035
16   92.230694  100.368486   97.804678   96.801286
17  110.962628  109.010575  110.506549  110.159917
18   94.080029  103.858806   94.933282   97.624039
19  109.042904  105.230053   87.422120  100.565026
20   87.333227   99.484619   94.792545   93.870130

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [10]:
# seu código aqui
df['log_med'] = np.log(df['average'])

df

            x1          x2          x3     average   log_med
1    94.105485   99.047789  115.923921  103.025732  4.634979
2   111.235901   91.241885   97.022850   99.833545  4.603504
3   118.075671  106.100174   86.090933  103.422259  4.638820
4   101.770084  117.276412  100.914973  106.653823  4.669588
5    98.551880  100.842679  117.823086  105.739215  4.660976
6    96.612971  107.927626  106.810013  103.783537  4.642307
7   123.500309  109.395433   87.132050  106.675930  4.669796
8    96.520049   88.973371  108.773134   98.088851  4.585874
9   111.238036  100.562149   81.415085   97.738423  4.582295
10   97.789147   98.708195  102.484974   99.660772  4.601772
11  102.632262  107.325524  108.031845  105.996544  4.663406
12  109.627459  100.284430   90.233373  100.048421  4.605654
13   97.980220   97.751059   88.415514   94.715598  4.550879
14   78.732019   91.363492   94.507002   88.200838  4.479616
15   89.222007  111.196722  102.011375  100.810035  4.613238
16   92.230694  100.368486   97.804678   96.801286  4.572660
17  110.962628  109.010575  110.506549  110.159917  4.701933
18   94.080029  103.858806   94.933282   97.624039  4.581124
19  109.042904  105.230053   87.422120  100.565026  4.610805
20   87.333227   99.484619   94.792545   93.870130  4.541912