# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [7]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [8]:
sinasc_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27028 entries, 0 to 27027
Data columns (total 69 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ORIGEM        27028 non-null  int64
 1   CODESTAB      26913 non-null  float64
 2   CODMUNNASC    27028 non-null  int64
 3   LOCNASC       27028 non-null  int64
 4   IDADEMAE      27028 non-null  int64
 5   ESTCIVMAE     26711 non-null  float64
 6   ESCMAE        26716 non-null  object
 7   CODOCUPMAE    24121 non-null  float64
 8   QTDFILVIVO    25455 non-null  float64
 9   QTDFILMORT    24930 non-null  float64
 10  CODMUNRES     27028 non-null  int64
 11  GESTACAO      25796 non-null  object
 12  GRAVIDEZ      26949 non-null  object
 13  PARTO         26979 non-null  object
 14  CONSULTAS     27028 non-null  int64
 15  DTNASC        27028 non-null  object
 16  HORANASC      27007 non-null  float64
 17  SEXO          27024 non-null  object
 18  APGAR1        26932 non-null  float64
 19  APGAR5        26925 non-null  float64
 20  RACACOR       26381 non-null  object
 21  PESO          27028 non-null  int64
 22  IDANOMAL      26437 non-null  float64
 23  DTCADASTRO    27028 non-null  object
 24  CODANOMAL     214 non-null    object
 25  NUMEROLOTE    27028 non-null  int64
 26  VERSAOSIST    27028 non-null  object
 27  DTRECEBIM     27028 non-null  object
 28  DIFDATA       27028 non-null  int64
 29  DTRECORIGA    0 non-null      float64
 30  NATURALMAE    26730 non-null  float64
 31  CODMUNNATU    26730 non-null  float64
 32  CODUFNATU     26730 non-null  float64
 33  ESCMAE2010    26779 non-null  float64
 34  SERIESCMAE    14318 non-null  float64
 35  DTNASCMAE     26988 non-null  float64
 36  RACACORMAE    26367 non-null  float64
 37  QTDGESTANT    25816 non-null  float64
 38  QTDPARTNOR    25149 non-null  float64
 39  QTDPARTCES    25237 non-null  float64
 40  IDADEPAI      7607 non-null   float64
 41  DTULTMENST    16956 non-null  float64
 42  SEMAGESTAC    25790 non-null  float64
 43  TPMETESTIM    25790 non-null  float64
 44  CONSPRENAT    26098 non-null  float64
 45  MESPRENAT     24161 non-null  float64
 46  TPAPRESENT    26763 non-null  float64
 47  STTRABPART    26081 non-null  float64
 48  STCESPARTO    26281 non-null  float64
 49  TPNASCASSI    26967 non-null  float64
 50  TPFUNCRESP    26961 non-null  float64
 51  TPDOCRESP     27014 non-null  float64
 52  DTDECLARAC    26976 non-null  float64
 53  ESCMAEAGR1    26779 non-null  float64
 54  STDNEPIDEM    27028 non-null  int64
 55  STDNNOVA      27028 non-null  int64
 56  CODPAISRES    27028 non-null  int64
 57  TPROBSON      27028 non-null  int64
 58  PARIDADE      27028 non-null  int64
 59  KOTELCHUCK    27028 non-null  int64
 60  CONTADOR      27028 non-null  int64
 61  munResStatus  27028 non-null  object
 62  munResTipo    27028 non-null  object
 63  munResNome    27028 non-null  object
 64  munResUf      27028 non-null  object
 65  munResLat     27027 non-null  float64
 66  munResLon     27027 non-null  float64
 67  munResAlt     27027 non-null  float64
 68  munResArea    27027 non-null  float64
dtypes: float64(38), int64(16), object(15)
memory usage: 14.2+ MB

In [9]:
sinasc_raw[['munResNome','IDADEPAI','IDADEMAE']].groupby('munResNome').mean()

                            IDADEPAI   IDADEMAE
munResNome
Alta Floresta D'Oeste      29.548701  25.991826
Alto Alegre dos Parecis    29.179104  24.844156
Alto Paraíso               28.833333  24.960177
Alvorada D'Oeste           30.757282  25.770732
Ariquemes                  32.466667  25.607866
Buritis                    30.812500  25.559177
Cabixi                     34.333333  26.037500
Cacaulândia                36.333333  25.546667
Cacoal                     30.931854  26.890102
Campo Novo de Rondônia     30.500000  24.825301
Candeias do Jamari         29.894737  25.243323
Castanheiras               30.392857  27.281250
Cerejeiras                 31.652778  27.240506
Chupinguaia                29.629630  25.333333
Colorado do Oeste          34.354839  27.602804
Corumbiara                 32.470588  24.716535
Costa Marques              30.613636  24.412017
Cujubim                    31.400000  24.482927
Espigão D'Oeste            31.198113  26.093333
Governador Jorge Teixeira  29.222222  24.401786
Guajará-Mirim              30.470588  25.462228
Itapuã do Oeste            42.500000  26.064220
Jaru                       32.197183  25.982974
Ji-Paraná                  31.132239  26.361137
Machadinho D'Oeste         31.326923  25.480000
Ministro Andreazza         33.849315  27.904762
Mirante da Serra           32.154762  26.304878
Monte Negro                34.678571  25.648241
Município ignorado - RO    22.000000  24.000000
Nova Brasilândia D'Oeste   30.520833  26.222222
Nova Mamoré                31.692308  25.326389
Nova União                 31.371429  26.894231
Novo Horizonte do Oeste    31.588235  26.938776
Ouro Preto do Oeste        31.233244  26.375594
Parecis                    32.473684  26.454545
Pimenta Bueno              29.745174  25.199675
Pimenteiras do Oeste       35.600000  25.075000
Porto Velho                32.352679  26.312670
Presidente Médici          30.150754  25.796053
Primavera de Rondônia      31.888889  27.023256
Rio Crespo                 28.000000  26.660000
Rolim de Moura             30.360479  26.600863
Santa Luzia D'Oeste        30.703297  26.121212
Seringueiras               30.500000  24.910714
São Felipe D'Oeste         31.395833  26.481481
São Francisco do Guaporé   31.638889  25.660066
São Miguel do Guaporé      32.666667  25.926346
Teixeirópolis              31.500000  26.031250
Theobroma                  30.083333  25.536082
Urupá                      31.008929  26.688235
Vale do Anari              34.000000  26.096774
Vale do Paraíso            29.976744  25.679012
Vilhena                    34.152941  26.433962

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [10]:
# Calcular a idade média das mães por município
sinasc_raw[['munResNome','IDADEPAI','IDADEMAE']].groupby('munResNome').mean()

                            IDADEPAI   IDADEMAE
munResNome
Alta Floresta D'Oeste      29.548701  25.991826
Alto Alegre dos Parecis    29.179104  24.844156
Alto Paraíso               28.833333  24.960177
Alvorada D'Oeste           30.757282  25.770732
Ariquemes                  32.466667  25.607866
Buritis                    30.812500  25.559177
Cabixi                     34.333333  26.037500
Cacaulândia                36.333333  25.546667
Cacoal                     30.931854  26.890102
Campo Novo de Rondônia     30.500000  24.825301
Candeias do Jamari         29.894737  25.243323
Castanheiras               30.392857  27.281250
Cerejeiras                 31.652778  27.240506
Chupinguaia                29.629630  25.333333
Colorado do Oeste          34.354839  27.602804
Corumbiara                 32.470588  24.716535
Costa Marques              30.613636  24.412017
Cujubim                    31.400000  24.482927
Espigão D'Oeste            31.198113  26.093333
Governador Jorge Teixeira  29.222222  24.401786
Guajará-Mirim              30.470588  25.462228
Itapuã do Oeste            42.500000  26.064220
Jaru                       32.197183  25.982974
Ji-Paraná                  31.132239  26.361137
Machadinho D'Oeste         31.326923  25.480000
Ministro Andreazza         33.849315  27.904762
Mirante da Serra           32.154762  26.304878
Monte Negro                34.678571  25.648241
Município ignorado - RO    22.000000  24.000000
Nova Brasilândia D'Oeste   30.520833  26.222222
Nova Mamoré                31.692308  25.326389
Nova União                 31.371429  26.894231
Novo Horizonte do Oeste    31.588235  26.938776
Ouro Preto do Oeste        31.233244  26.375594
Parecis                    32.473684  26.454545
Pimenta Bueno              29.745174  25.199675
Pimenteiras do Oeste       35.600000  25.075000
Porto Velho                32.352679  26.312670
Presidente Médici          30.150754  25.796053
Primavera de Rondônia      31.888889  27.023256
Rio Crespo                 28.000000  26.660000
Rolim de Moura             30.360479  26.600863
Santa Luzia D'Oeste        30.703297  26.121212
Seringueiras               30.500000  24.910714
São Felipe D'Oeste         31.395833  26.481481
São Francisco do Guaporé   31.638889  25.660066
São Miguel do Guaporé      32.666667  25.926346
Teixeirópolis              31.500000  26.031250
Theobroma                  30.083333  25.536082
Urupá                      31.008929  26.688235
Vale do Anari              34.000000  26.096774
Vale do Paraíso            29.976744  25.679012
Vilhena                    34.152941  26.433962

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [11]:
#Alterando o tipo da variável da data
sinasc_raw['DTNASC'] = pd.to_datetime(sinasc_raw['DTNASC'], format='%Y-%m-%d')

sinasc_raw_01_agosto = sinasc_raw[(sinasc_raw['DTNASC'].dt.month == 8) & (sinasc_raw['DTNASC'].dt.day == 1)]

sinasc_raw_01_agosto.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 14030 to 26843
Data columns (total 69 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ORIGEM        70 non-null     int64
 1   CODESTAB      70 non-null     float64
 2   CODMUNNASC    70 non-null     int64
 3   LOCNASC       70 non-null     int64
 4   IDADEMAE      70 non-null     int64
 5   ESTCIVMAE     68 non-null     float64
 6   ESCMAE        70 non-null     object
 7   CODOCUPMAE    61 non-null     float64
 8   QTDFILVIVO    66 non-null     float64
 9   QTDFILMORT    66 non-null     float64
 10  CODMUNRES     70 non-null     int64
 11  GESTACAO      66 non-null     object
 12  GRAVIDEZ      70 non-null     object
 13  PARTO         70 non-null     object
 14  CONSULTAS     70 non-null     int64
 15  DTNASC        70 non-null     datetime64[ns]
 16  HORANASC      70 non-null     float64
 17  SEXO          70 non-null     object
 18  APGAR1        70 non-null     float64
 19  APGAR5        70 non-null     float64
 20  RACACOR       67 non-null     object
 21  PESO          70 non-null     int64
 22  IDANOMAL      69 non-null     float64
 23  DTCADASTRO    70 non-null     object
 24  CODANOMAL     0 non-null      object
 25  NUMEROLOTE    70 non-null     int64
 26  VERSAOSIST    70 non-null     object
 27  DTRECEBIM     70 non-null     object
 28  DIFDATA       70 non-null     int64
 29  DTRECORIGA    0 non-null      float64
 30  NATURALMAE    66 non-null     float64
 31  CODMUNNATU    66 non-null     float64
 32  CODUFNATU     66 non-null     float64
 33  ESCMAE2010    70 non-null     float64
 34  SERIESCMAE    44 non-null     float64
 35  DTNASCMAE     70 non-null     float64
 36  RACACORMAE    67 non-null     float64
 37  QTDGESTANT    67 non-null     float64
 38  QTDPARTNOR    66 non-null     float64
 39  QTDPARTCES    66 non-null     float64
 40  IDADEPAI      17 non-null     float64
 41  DTULTMENST    36 non-null     float64
 42  SEMAGESTAC    66 non-null     float64
 43  TPMETESTIM    66 non-null     float64
 44  CONSPRENAT    67 non-null     float64
 45  MESPRENAT     54 non-null     float64
 46  TPAPRESENT    69 non-null     float64
 47  STTRABPART    67 non-null     float64
 48  STCESPARTO    66 non-null     float64
 49  TPNASCASSI    70 non-null     float64
 50  TPFUNCRESP    70 non-null     float64
 51  TPDOCRESP     70 non-null     float64
 52  DTDECLARAC    70 non-null     float64
 53  ESCMAEAGR1    70 non-null     float64
 54  STDNEPIDEM    70 non-null     int64
 55  STDNNOVA      70 non-null     int64
 56  CODPAISRES    70 non-null     int64
 57  TPROBSON      70 non-null     int64
 58  PARIDADE      70 non-null     int64
 59  KOTELCHUCK    70 non-null     int64
 60  CONTADOR      70 non-null     int64
 61  munResStatus  70 non-null     object
 62  munResTipo    70 non-null     object
 63  munResNome    70 non-null     object
 64  munResUf      70 non-null     object
 65  munResLat     70 non-null     float64
 66  munResLon     70 non-null     float64
 67  munResAlt     70 non-null     float64
 68  munResArea    70 non-null     float64
dtypes: datetime64[ns](1), float64(38), int64(16), object(14)
memory usage: 38.3+ KB

In [12]:
#Peso médio por sexo e faixa de escolaridade
sinasc_raw_01_agosto[['SEXO', 'PESO', 'ESCMAE']].groupby(['ESCMAE', 'SEXO']).mean()

                                  PESO
ESCMAE          SEXO
12 anos ou mais Feminino   3359.375000
                Masculino  3342.500000
4 a 7 anos      Feminino   2636.666667
                Masculino  3127.250000
8 a 11 anos     Feminino   3189.615385
                Masculino  3423.235294

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [13]:
sinasc_raw_2019 = sinasc_raw[(sinasc_raw['DTNASC'].dt.year == 2019)]

sinasc_raw.DTNASC.value_counts()

#sinasc_raw_2019.munResNome.value_counts()

#sinasc_raw_2019.groupby(['munResNome']).count('PESO')

#sinasc_raw.groupby('munResNome').mean()

DTNASC
2019-04-10    116
2019-03-21    109
2019-09-25    108
2019-09-02    105
2019-12-04    104
             ...
2019-12-25     44
2019-02-09     44
2019-07-28     44
2019-08-04     43
2019-11-03     40
Name: count, Length: 365, dtype: int64

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [14]:
#Separando a base com o mes desejado
base_marco = sinasc_raw[(sinasc_raw['DTNASC'].dt.month == 3)]

In [15]:
#Municipio com mais nascimentos em Março
base_marco.munResNome.value_counts().head(1)
#Cidade de Porto Velho

munResNome
Porto Velho    744
Name: count, dtype: int64

In [16]:
#guardando em variável
municipio_marc = base_marco.munResNome.value_counts().head(1)

In [17]:
base_marco = base_marco[['munResNome', 'QTDFILVIVO','IDADEMAE','IDADEPAI','APGAR5','PESO']]
base_filtrada = base_marco[base_marco['munResNome'] == municipio_marc.index[0]]

In [18]:
#4.1 - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
base_filtrada.groupby('munResNome').agg({'QTDFILVIVO': ['max', 'min','mean','sum']})

#Quantidade: 812
#Media: 1,29
#Maximo: 9
#Minimo: 0

            QTDFILVIVO
                   max  min      mean    sum
munResNome
Porto Velho        9.0  0.0  1.295056  812.0

In [19]:
#4.2 - qual a idade media, maxima, minima dos pais nesse municipio?
base_filtrada.groupby('munResNome').agg({'IDADEPAI': ['max', 'min','mean','median'],'IDADEMAE': ['max', 'min','mean','median']})

            IDADEPAI                         IDADEMAE
                 max   min       mean median      max min       mean median
munResNome
Porto Velho     62.0  19.0  34.629032   34.0       44  14  26.596774   26.0

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios x é maior que y.

In [20]:
#Analisando o indicador APGAR com a idade dos pais
base_filtrada.groupby('APGAR5').agg({'IDADEPAI': ['max', 'min','mean','median','count'],'IDADEMAE': ['max', 'min','mean','median','count']})

       IDADEPAI                               IDADEMAE                        \
            max   min       mean median count      max min       mean median
APGAR5
1.0         NaN   NaN        NaN    NaN     0       40  40  40.000000   40.0
4.0         NaN   NaN        NaN    NaN     0       30  20  25.000000   25.0
6.0         NaN   NaN        NaN    NaN     0       19  15  17.000000   17.0
7.0         NaN   NaN        NaN    NaN     0       34  18  24.200000   23.0
8.0        39.0  30.0  34.500000   34.5     2       40  14  26.115385   26.0
9.0        55.0  20.0  35.100000   33.5    30       44  14  26.895556   26.0
10.0       62.0  19.0  34.166667   34.0    30       44  14  26.215859   26.0


       count
APGAR5
1.0        1
4.0        2
6.0        2
7.0        5
8.0       52
9.0      450
10.0     227

In [21]:
#Analisando se há correlação entre o peso e o APGAR
base_filtrada.groupby('APGAR5').agg({'PESO': ['max', 'min','mean','median','count'],'IDADEMAE': ['max', 'min','mean','median','count']})

        PESO                                  IDADEMAE                        \
         max   min         mean  median count      max min       mean median
APGAR5
1.0     3935  3935  3935.000000  3935.0     1       40  40  40.000000   40.0
4.0     2055   740  1397.500000  1397.5     2       30  20  25.000000   25.0
6.0     3310  1680  2495.000000  2495.0     2       19  15  17.000000   17.0
7.0     3435  1370  2634.000000  2580.0     5       34  18  24.200000   23.0
8.0     4920   540  2932.307692  3087.5    52       40  14  26.115385   26.0
9.0     4810   905  3294.697778  3350.0   450       44  14  26.895556   26.0
10.0    4720  2165  3274.700441  3240.0   227       44  14  26.215859   26.0


       count
APGAR5
1.0        1
4.0        2
6.0        2
7.0        5
8.0       52
9.0      450
10.0     227

In [22]:
#Analisando o indicador APGAR com a idade dos pais
sinasc_raw.groupby('APGAR5').agg({'IDADEPAI': ['max', 'min','mean','median','count'],'IDADEMAE': ['max', 'min','mean','median','count']})

       IDADEPAI                               IDADEMAE                        \
            max   min       mean median count      max min       mean median
APGAR5
0.0        35.0  17.0  25.800000   26.0     5       42  13  22.470588   21.0
1.0        39.0  20.0  27.571429   26.0     7       40  17  26.208333   25.0
2.0        38.0  27.0  32.500000   32.5     2       37  15  27.333333   26.5
3.0        43.0  19.0  31.000000   31.0     4       29  15  22.533333   24.0
4.0        48.0  29.0  36.666667   33.0     3       44  18  29.217391   30.0
5.0        46.0  23.0  32.909091   32.0    11       42  14  26.622222   25.0
6.0        40.0  17.0  27.750000   26.5    16       42  12  25.341772   24.0
7.0        47.0  18.0  30.629630   31.5    54       42  14  26.128631   26.0
8.0        86.0  17.0  31.099831   30.0   591       46  12  26.230692   26.0
9.0        69.0  16.0  30.680771   30.0  4254       53  11  25.905014   25.0
10.0       73.0  15.0  31.797430   31.0  2646       53  12  26.433218   26.0


        count
APGAR5
0.0        17
1.0        24
2.0        18
3.0        15
4.0        23
5.0        45
6.0        79
7.0       241
8.0      1994
9.0     16076
10.0     8393

In [23]:
#Analisando se há correlação entre o peso e o APGAR
base_filtrada.groupby('APGAR5').agg({'PESO': ['max', 'min','mean','median','count'],'IDADEMAE': ['max', 'min','mean','median','count']})

        PESO                                  IDADEMAE                        \
         max   min         mean  median count      max min       mean median
APGAR5
1.0     3935  3935  3935.000000  3935.0     1       40  40  40.000000   40.0
4.0     2055   740  1397.500000  1397.5     2       30  20  25.000000   25.0
6.0     3310  1680  2495.000000  2495.0     2       19  15  17.000000   17.0
7.0     3435  1370  2634.000000  2580.0     5       34  18  24.200000   23.0
8.0     4920   540  2932.307692  3087.5    52       40  14  26.115385   26.0
9.0     4810   905  3294.697778  3350.0   450       44  14  26.895556   26.0
10.0    4720  2165  3274.700441  3240.0   227       44  14  26.215859   26.0


       count
APGAR5
1.0        1
4.0        2
6.0        2
7.0        5
8.0       52
9.0      450
10.0     227

# É possível constatar que a mediana das idades dos pais de porto velho, nos valores de APGAR5 entre 8 e 10, são maiores que as mediana da população inteira.